/**
 * @file
 * @project 725
 * @package sftheme
 * @site app1
 */

/*--------------------------------
	Typography Reset
--------------------------------*/
h1 { font-size:36px; font-weight:normal; letter-spacing:-.04em; margin:0 0 0.5em; }
h2 { font-size:28px; font-weight:normal; letter-spacing:-.03em; margin:0 0 0.75em; }
h3 { font-size:24px; font-weight:normal; letter-spacing:-.02em; margin:0 0 1em; }
h4 { font-size:20px; font-weight:bold; letter-spacing:-.02em; margin:0 0 1.25em; }
h5 { font-size:18px; font-style:italic; margin:1.67em 0; }
h6 { font-size:16px; font-weight:bold; margin:2.05em 0; }
p, form { margin:0 0 1.5em; padding:0; }
blockquote { margin:1.5em; }
sup, sub { line-height:0; }
address { margin:0 0 1.5em; }
pre, code { margin:1.5em 0; white-space:pre; }
pre, code, tt { line-height:1.5; }
caption { margin:0; padding:.5em; }
/*--------------------------------
	Structure
--------------------------------*/
body {
	background-color:#e8e8e8;
	background-image:url(images/725_body.gif);
	background-position:top center;
	background-repeat:no-repeat;
	color:#919090;
	font-family:Arial, Helvetica, FreeSans, sans-serif;
	font-size:16px;
}
.sf_main_header {
	color:#919090;
	font-size:56px;
	letter-spacing:-.05em;
	padding:30px 0;
}
.sf_wrapper {
	margin:0 auto;
	width:960px;
}
.sf_wrapper:after {
	content:".";
	display:block;
	font-size:0;
	height:0;
	clear:both;
	visibility:hidden;
}
.sf_main_wrapper {
	background-color:#ffffff;
	border:solid 1px #c2c1c1;
	border-top:none;
}
textarea,
input[type="text"] { border:solid 1px #c2c1c1; }
/*--------------------------------
	Navigation
--------------------------------*/
.sf_navigation {
	border-style:solid;
	border-width:1px 1px 0;
	margin-left:-1px;
	width: 958px;
}
.sf_navigation h3 { display:none; }
.sf_navigation ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
.sf_navigation ul:after {
	content:".";
	display:block;
	font-size:0;
	height:0;
	clear:both;
	visibility:hidden;
}
.sf_navigation ul li {
	float:left;
	white-space:nowrap;
}
.sf_navigation ul li a {
	background-position:right;
	background-repeat:no-repeat;
	color:#767676;
	display:block;
	font-size:18px;
	font-weight:bold;
	padding:14px 20px;
	text-decoration:none;
	zoom:1!important;
	zoom:0;
}
.sf_navigation ul li:hover a {
	background: #F1F0F0; /* old browsers */
	background: -moz-linear-gradient(top, #F1F0F0 0px, #D4D4D5 25px, #CBCACA 25px, #9D9D9D 50px); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F1F0F0), color-stop(50%, #D4D4D5), color-stop(51%, #CBCACA), color-stop(100%, #9D9D9D)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #F1F0F0 0px, #D4D4D5 25px, #CBCACA 25px, #9D9D9D 50px); /* Chrome10+,Safari5.1+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1F0F0', endColorstr='#9D9D9D', GradientType=0 ); /* ie */
	background: linear-gradient(top, #F1F0F0 0px, #D4D4D5 25px, #CBCACA 25px, #9D9D9D 50px); /* W3C */
	text-shadow:1px 1px 0 #dfdfdf;
}
.sf_navigation ul li.sf_first_nav_item a { padding-left:25px; }
/*--------------------------------
	Subnav
--------------------------------*/
.sf_navigation .subnav {
	background:#eaeaea; /* old browsers */
	background:-moz-linear-gradient(top, #eaeaea 0%, #d6d6d6 100%); /* firefox */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, #d6d6d6)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #eaeaea 0%, #d6d6d6 100%); /* Chrome10+,Safari5.1+ */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#d6d6d6', GradientType=0 ); /* ie */
	background:linear-gradient(top, #eaeaea 0%, #d6d6d6 100%); /* W3C */	
	border:solid 1px #c2c1c1;
	border-top:none;
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	float: left;
	left: -999em;
	margin:0;
	padding:0;
	position: absolute;
	width: 168px;
	z-index: 1000;
}
.sf_navigation ul li.sf_first_nav_item ul.subnav {
	margin-left:-1px;
}
.sf_navigation .subnav li {
	margin: 0;
	white-space: normal;
	width: 168px;
}
.sf_navigation ul li.sf_first_nav_item .subnav { margin-left:10px; }
.sf_navigation ul li.sf_first_nav_item .subnav li a { padding: 5px 15px 3px; }
.sf_navigation ul li:hover .subnav li a { text-shadow:1px 1px 0 #ffffff; }
.sf_navigation .subnav li a {
	background-color:#dad9d9;
	border:none;
	color:#767676;
	font-size:14px;
	font-weight:normal;
	height: auto;
	margin:0;
	padding:5px 15px 3px;
	width: 138px;
}
.sf_navigation .subnav li a:visited { color:#767676; }
.sf_navigation .subnav li a:hover { background-color:#f8f8f8; }
.sf_navigation ul li.sfhover li,
.sf_navigation ul li.sfhover li a,
.sf_navigation ul li:hover li a {
	background:none;
	filter:none;
}
#Nav1 li:hover ul,
#Nav1 li.sfhover ul { /* lists nested under hovered list items */ left: auto; }
#Nav1 iframe {
	position: absolute;
	/* account for the border */
	left: -0.25em;
	top: -0.25em;
	z-index: 0;
 filter: progid:DXImageTransform.Microsoft.Alpha(style=0, opacity=0);
	margin-left: 3px;
}
#Nav1 li:hover,
#Nav1 li.hover { position: static; }
/*--------------------------------
	Widgets
--------------------------------*/
.widgetset .widget {
	margin:0;
	padding:0 0 30px;
	width:190px;
}
.widgetset .widget_header {
	background:#eaeaea; /* old browsers */
	background:-moz-linear-gradient(top, #eaeaea 0%, #d6d6d6 100%); /* firefox */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, #d6d6d6)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #eaeaea 0%, #d6d6d6 100%); /* Chrome10+,Safari5.1+ */
 	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#d6d6d6', GradientType=0 ); /* ie */
	background:linear-gradient(top, #eaeaea 0%, #d6d6d6 100%); /* W3C */
	border:solid 1px #d6d6d6;
	color:#929191;
	margin:0 0 10px;
	padding:10px 13px;
	text-shadow:1px 1px 0 #f5f5f5;
	zoom:1;
}
.widgetset .widget_header a { text-decoration:none; }
.widgetset h3 {
	font-size:26px;
	line-height:1em;
	margin:0;
}
.widgetset h4 { font-size:1em; }
.widgetset .widget_content {
	overflow:hidden;
	width:190px;
}
.widgetset ul {
	list-style:none;
	margin:0;
	padding:0;
}
.widgetset ol {
	list-style:none;
	margin:0;
	padding:0;
}
.widgetset .widget_content li { padding:3px 0; }
.widgetset label {
	display: block;
	font-size:13px;
	margin:0;
	padding:0;
}
.widgetset input[type="text"] {
	padding:0;
	width:188px !important;
}
.widgetset select { width:100% !important; }
/*--------------------------------
	Content
--------------------------------*/
.sf_pagetitle {
	color:#919090;
	font-size:36px;
	padding:30px 30px 0;
}
.sf_pagetitle h1 { font-size:36px; }
.sf_content { padding:0 30px 30px; }
.sf_content:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
/*--------------------------------
	Footer
--------------------------------*/
.sf_footer {
	background:#eaeaea; /* old browsers */
	background:-moz-linear-gradient(top, #eaeaea 0%, #d6d6d6 100%); /* firefox */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, #d6d6d6)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #eaeaea 0%, #d6d6d6 100%); /* Chrome10+,Safari5.1+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#d6d6d6', GradientType=0 ); /* ie */
	background:linear-gradient(top, #eaeaea 0%, #d6d6d6 100%); /* W3C */
	border-top:solid 1px #d6d6d6;
	clear:both;
	color:#929191;
	float:left;
	font-size:13px;
	padding:15px;
	position:relative;
	text-align:right;
	text-shadow:1px 1px 0 #f5f5f5;
	_width:929px;
	zoom:1;
}
.sf_region8 {
	clear:left;
	font-size:11px;
	padding:60px 30px 30px;
	text-align:center;
}
/*--------------------------------
	IE 6&7
--------------------------------*/