<table cellspacing="1" cellpadding="1" border="0" class="footerTable">
   <tbody>
   <tr>
      <td align="left" style="width: 33%;align:right;">&nbsp;<img alt="" width="191" height="74" src="img/sbc_4r4l.png"></td>
      <td align="center" style="width: 33%;">
         <h2 style="text-align: center;"><span style="font-size:16pt;">Your technology partners.</span></h2>
      </td>
      <td align="right" style="width: 33%;">
         <div style="text-align: right;">
            723 Grant St. Herndon, VA 20170<br/>
                  <span>
                     <span id="gc-number-0" class="gc-cs-link" title="Call with Google Voice">703.539.6150</span>
                  </span><br/>
            <a href="mailto:sales@sbctechpartners.com"><span>sales@sbctechpartners.com</span></a><br/>
            Content copyright {{ year }}. <span style="font-size: 14px;"><b>SBCTECHPARTNERS.COM</b></span><br/>
            All rights reserved.
         </div>
      </td>
   </tr>
   </tbody>
</table>